/* 
  NOT SHIPPED IN PRODUCTION, FOR REFERENCE ONLY
  These are the default list of styling rules
*/
.solid-modal-overlay {
  position: fixed;
  inset: 0 0 0 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.solid-modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid rgba(200, 200, 200, 0.5);
  background-color: white;
  overflow: auto;
  max-height: 90%;
  max-width: 90%;
}
